* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #0a619f;
  font-family: "Jersey 20", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

h1 {
  font-family: "Jacquard 12", sans-serif;
  font-size: 200px;
  color: #ffffff;
}

p {
  font-size: 64px;
}

img {
  height: 580px;
  width: 683px;
}

button {
  font-family: "Jersey 20", sans-serif;
  font-size: 70px;
  background: none;
  border: solid white 6px;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
}

.tails {
  padding: 10px 60px;
}

.flip {
  animation: flip 1s ease-in-out;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 120px;
}

.image-wrapper h2 {
  font-size: 70px;
}

.container-choices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
